<h1>
  <center>

  <img  src="../images/mainlogo.gif" >

  <div class = "heading-title-banner">
    Handcrafted
  </div>
  <div class = "heading-title">
    Jessica's Burger
  </div>
  <div class = "heading-title-banner">
    since 2015
  </div>

  <br><br>

  <a class="arrow-wrap" href="#aboutus">
    <img src="../images/arrow.png"><br>
  </a>

 </center>
</h1>

<section id="aboutus">

  <div id="aboutus-section" class ="services bg-primary" style="background-color:#aa7243">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">"The next big thing is here." <i><h4>Gastronomy Times</h4></i></h2>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <div id="aboutus-section" class ="services bg-primary" style="background-color:#ff6666">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">"A great burger comes with great responsibility."  <i><h4>The Burger Paper</h4></i></h2>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <div id="aboutus-section" class ="services bg-primary" style="background-color:#006600">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">"Jessica's burger has the burger for you." <i><h4>Burger Times<h4></i></h2>
            </div>
          </div>
        </div>
    </div>
  </div>

</section>

<section>

  <div id="aboutus-section" class ="services bg-primary" style="background-color:#e5e500">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            
            <div class="col-lg-12">
              <h2 style="font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">"Re-defining excellence in the burger industry." <i><h4>The Newspaper<h4></i></h2>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<section>

  <div id="aboutus-section" class ="services bg-primary" style="background-color:#aa7243">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="row">
            <div class="col-lg-12">
              <h2 style="font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">"From zero to hero!" <i><h4>Reality News</h4></i></h2>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<br>
<section id="buttons">

  <div id="buttons-section" class ="services bg-primary" style="background-color:#ffffff">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">

          <div class="row">
            <div class="col-lg-4" id="picture-main-kitchen">
            <a href="/kitchen"><img src="http://www.clipartbest.com/cliparts/aTq/zRy/aTqzRyqXc.png" class="img-circle" height="200" width="200"></a><br>
            <figcaption><p>Kitchen</p></figcaption>
            </div>

            <div class="col-lg-4" id="picture-main-order">
            <a href="/order"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/purchase_order.png" class="img-circle" height="200" width="200"></a>
            <figcaption><p>Order</p></figcaption>

            </div>

            <div class="col-lg-4" id="picture-main-ingredients">
            <a href="/ingredients"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/256/bunch_ingredients.png" class="img-circle" height="200" width="200"></a>
            <figcaption><p>Ingredients</p></figcaption>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>