<!DOCTYPE html>

<html>
	<head>
	    <meta charset="utf-8">
	    <title>Jessica's Burger</title>
	    <link rel="shortcut icon" href="http://www.tummyfillers.co.in/images/icon-comp.png"/>
	    <link rel="stylesheet" type="text/css" href="../../css/main.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <!-- Latest compiled and minified CSS -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	    <!-- Latest compiled and minified JavaScript -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>

	<body>
	    {{{body}}}
	</body>

	<script type="text/javascript" src="javascripts/main.js"></script>
	<script type="text/javascript" src="../../javascripts/scroll.js"></script>
</html>